{% extends 'base.html' %}
{% block title %} Registrar Entrada {% endblock %}
{% block content %}

<div class="form-card-container">
  <div class="form-card">

    <h1>Registrar Entrada de Veículo</h1>

    <form method="post" novalidate>
      {% csrf_token %}

      <div class="form-group">
        <label for="id_plate">Placa do veículo:</label>
        {{ form.plate }}

        <label for="id_vehicleType">Tipo de veículo:</label>
        {{ form.vehicleType }}
      </div>

      <br><br>

      <div class="form-actions">
        <a href="{% url 'home' %}" style="color: white; text-decoration: none;">
          <button class="btn-outline-blue" type="button">Voltar</button>
        </a>

        <button class="btn" type="submit">Salvar</button>
      </div>
    </form>

  </div>
</div>

{% endblock %}
