{% extends 'base.html' %}
{% block title %} Cadastrar Tipos de Veículos {% endblock %}
{% block content %}

<div class="form-card-container">
  <div class="form-card">

    <h1>
      {% if form.instance.pk %}
        Atualizar Tipo de Veículo
      {% else %}
        Cadastrar Novo Tipo de Veículo
      {% endif %}
    </h1>

    <form method="post" novalidate>
      {% csrf_token %}

      <div class="form-group">

        {% for field in form %}
          <label for="{{ field.id_for_label }}">{{ field.label }}</label>
          {{ field }}

          {% if field.errors %}
            <ul class="errorlist">
              {% for error in field.errors %}
                <li>{{ error }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endfor %}

      </div>

      <br><br>

      <div class="form-actions">
        <a href="{% url 'vehicletype-list' %}" style="color: white;  text-decoration: none;">
          <button  class="btn-outline-blue" type="button">
            Voltar
          </button>
        </a>

        <button type="submit" class="btn">Salvar</button>
      </div>
      
    </form>
  </div>
</div>



{% endblock %}
